.tracetitans-cont {
    height: 100vh;
    width: 100%;
    color: white;
    background-color: black;
}

.tracetitans-header {
    height: 10vh;
    width: 100%;
    display: flex;
    
}

.tracetitans-timer-cont {
    width: 20%;
    height: 10vh;
}

.tracetitans-time {
    text-align: center;
    font-size: 80px;
}

.tracetitans-opponent-info-cont {
    float: right;
    width: 40%;
    height: 20vh;
    display: table;
    margin-left: auto; 
    margin-right: 0;
    margin-top: 2%;

}  

.tracetitans-player-info-cont {
    float: left;
    width: 40%;
    height: 20vh;
    display: table;
    margin-right: auto; 
    margin-left: 0;
    margin-top: 2%;
}

.tracetitans-oppscore,  .tracetitans-pscore {
    padding: 11.2px 0;
}
.tracetitans-opponent-name, .tracetitans-player-name {
    height: 20%;
    font-size: 35px;
}
.tracetitans-player-name-cont, .tracetitans-pscore-cont {
    display: flex;
    justify-content: flex-start;
    
}

.tracetitans-opponent-name-cont, .tracetitans-oppscore-cont {
    display: flex;
    justify-content: flex-end;
}

.tracetitans-oppscore-caption {
    float: left;
}
.tracetitans-pscore-caption {
    float: right;
}

.tracetitans-ls {
    position: relative;
    align-self: center;
    top: 5%;
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-right: 25%;
    text-align:center;
}


.tracetitans-problem-cont {
    width: 100%;
    height: 60vh;
    border-bottom: 3px solid white;
}

.tracetitans-problem-title {
    height: 5vh;
    margin: none;
}

.tracetitans-problem {
    height: 40vh;
    width: 100%;
    resize: none;
    outline: none;
    box-sizing: border-box;
    font-size: 32px;
    font-family: "Inconsolata";
    background-color: black;
    border-top: 3px solid white;
    color: white;
    white-space: pre-wrap;
    user-select: none;
    border-width: 3px 3px 3px 3px;
    border-color: white;
    border-style: solid;
    text-align:center;
}

.tracetitans-result {
    width: 400%;
    height: 130%;
    font-size: 32px;
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    white-space: pre-wrap;
    user-select: none;
    position: relative;
    right: 140%
}

.tracetitans-result2 {
    width: 200%;
    height: 130%;
    font-size: 32px;
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    white-space: pre-wrap;
    user-select: none;
    position: relative;
    right: 46%
}

.tracetitans-footer {
    height: 10vh;
    width: 100%;
    display: flex;
}


.tracetitans-options {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

figcaption {
    color: white;
}

.tracetitans-options-1, .tracetitans-options-2, .tracetitans-options-3, .tracetitans-options-4 {
    width: 40%;
    height: 100%;
    font-size: 32px;
}

.tracetitans-options-12, .tracetitans-options-34{
    width: 100%;
    height: 50%;
}

.tracetitans-result-title {
    margin: 0.5%;
    padding: 0%;
}

.tracetitans-problem-text {
    font-size: 30px;
}